<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<!-- 使用注解式注入 -->
	<context:annotation-config />

	<!-- 注解自动扫描 -->
	<context:component-scan base-package="com.lily.*" />

	<!-- 配置数据源 --><!-- 暂时不用 -->
	<context:property-placeholder location="classpath:config.properties" />
	<bean id="dataSource" class="${jdbc.dataSource}">
		<property name="driverClassName" value="${jdbc.driverClassName}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!-- 配置sqlSession -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="typeAliasesPackage" value="com.lily.pojo" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 加载映射文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.lily.mapper" />
	</bean>
	<!-- 创建事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 把事务交给spring -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 计划任务 -->
	<bean name="UpdateAccessTokenScheduledJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass"
			value="com.lily.scheduler.jobs.UpdateAccessTokenScheduledJob" />
		<property name="durability" value="true" />
	</bean>

	<!-- 服务启动后1秒执行一次，然后每隔7000秒执行一次 -->
	<bean id="updateJob"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="UpdateAccessTokenScheduledJob" />
		<property name="startDelay" value="1000" />
		<property name="repeatInterval" value="7000000" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="UpdateAccessTokenScheduledJob" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="updateJob" />
			</list>
		</property>
	</bean>
</beans>

